/* Transitional classes for list & card */
.list, .card {
	transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(2rem);
	opacity: 0;
}

.layout.isLoaded .list,
.layout.isLoaded .card {
	transform: translateY(0);
	opacity: 1;
}

/* Filter button */
.btn.btn--filter {
	background-color: rgba(0, 0, 0, 0.1);
	color: inherit;
	opacity: 0.5;
}
.btn.btn--filter:hover {
	opacity: 1;
}
.btn.btn--filter .ion {
	margin-left: 2px;
	opacity: 0.5;
}